@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Marcellus+SC&family=Nova+Flat&display=swap");
.signin-container {
	background-image: url("background.png");
	background-size: cover;
	/* background-color: white; */
	display: flex;
	justify-content: center;
}
.signin-inner {
	width: 470px;
	height: 660px;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: white;
	box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.16);
}
.companyNameSignIn {
	margin-top: -90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.companyName {
	color: white;
	font-size: 30px;
	color: royalblue;
	letter-spacing: 1px;
	font-weight: 900;

	text-align: center;
	font-family: "Marcellus SC", serif;
}
.companyNameSignIn:hover {
	cursor: pointer;
	opacity: 0.8;
}
.logoLogin {
	height: 24px;
	margin-right: 16px;
	padding-top: 4px;
}
.loginTitle {
	text-align: center;
	font-weight: 100;
	font-size: 30;
	font-size: 22px;
	margin-top: 60px;
}
.loginForm {
	margin: 0 auto;
	/* border: 2px solid black; */
	width: 86%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
.emailInput {
	width: 95%;
	height: 45px;
	font-size: 16px;
	background-color: rgb(236, 236, 236);
	border: none;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 14px;
}
.passwordInput {
	width: 95%;
	height: 45px;
	border: 0.1px solid white;

	font-size: 16px;
	background-color: rgb(236, 236, 236);
	margin-bottom: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 14px;
}
.loginBtnForm {
	width: 99%;
	height: 45px;
	font-size: 16px;
	border: 0.1px solid white;

	background-color: royalblue;
	color: white;

	opacity: 0.8;
}
.loginBtnForm:hover {
	opacity: 1;
	cursor: pointer;
}
.or {
	text-align: center;
	font-size: 20px;

	font-weight: 100;
	margin-top: 12px;
}
.otherLogins {
	margin: 0 auto;
	width: 86%;
	list-style: none;
}

.googleIcon {
	height: 44px;
	padding-top: 3px;
	padding-left: 2px;
	position: absolute;
}
.loginBtnGoogle {
	width: 99%;
	height: 50px;
	font-size: 16px;
	border: 0.1px solid white;
	background-color: rgb(62, 182, 182);
	color: white;

	margin-bottom: 20px;
	cursor: pointer;
}
.loginBtnGoogle:hover {
	opacity: 1;
}
.cleverIcon {
	height: 44px;
	width: 60px;
	padding-top: 3px;
	padding-left: 2px;
	position: absolute;
}
.loginBtnClever {
	width: 99%;
	height: 50px;
	font-size: 16px;
	border: 0.1px solid white;
	background-color: rgb(80, 207, 250);
	color: white;

	margin-bottom: 20px;
	/* opacity: 0.9; */
	cursor: pointer;
}
.loginBtnClever:hover {
	opacity: 1;
}
.classLinkIcon {
	height: 44px;
	width: 60px;
	padding-top: 3px;
	padding-left: 2px;
	position: absolute;
}
.loginBtnClassLink {
	width: 99%;
	height: 50px;
	font-size: 16px;
	border: 0.1px solid white;

	background-color: rgb(12, 52, 231);
	color: white;

	/* opacity: 0.9; */
	cursor: pointer;
}
.loginBtnClassLink:hover {
	opacity: 1;
}
.support {
	display: flex;
	width: 84%;
	margin: 0 auto;
	margin-top: 24px;
}
.newAcc {
	margin-right: 138px;
	font-size: 16px;

	opacity: 0.6;
}
.forgotPass {
	float: right;
	font-size: 16px;

	opacity: 0.6;
}
.newAcc:hover,
.forgotPass:hover {
	cursor: pointer;
	opacity: 0.8;
}
@media (max-width: 525px) {
	.signin-inner {
		width: 400px;
	}
	.newAcc,
	.forgotPass {
		font-size: 12px;
		white-space: nowrap;
	}
}
@media (max-width: 395px) {
	.signin-inner {
		width: 400px;
	}
	.newAcc {
		font-size: 12px;
		white-space: nowrap;
		position: absolute;
	}
	.forgotPass {
		font-size: 12px;
		white-space: nowrap;
		position: absolute;
		right: 10vw;
	}
}
@media (max-width: 330px) {
	.loginBtnClassLink,
	.loginBtnClever,
	.loginBtnGoogle {
		font-size: 12px;
	}
}
