@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Marcellus+SC&family=Nova+Flat&display=swap");
body[data-aos-duration="600"] [data-aos],
[data-aos][data-aos][data-aos-duration="600"] {
	transition-duration: 600ms;
}
.homepage-left-mobile {
	display: none;
}
.homepage {
	display: flex;
	justify-content: center;
	/* padding-bottom: 100px; */
	/* border: 2px solid black; */
}
.homepage-inner {
	margin-top: 15vh;
	display: flex;
	width: 80vw;
	/* align-items: center; */
	/* border: 2px solid black; */
	justify-content: center;
}
.homepage-left {
	display: block;
}

.headline {
	font-size: 56px;
	font-weight: 600;
	/* opacity:.8; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	/* position: absolute; */
	color: royalblue;
	letter-spacing: 1px;
	margin-left: -2px;
	white-space: nowrap;
	font-variant: tabular-nums;
	font-feature-settings: "tnum" 0;
	/* color: black; */
}

.description {
	font-size: 18px;
	margin-left: 1px;
	letter-spacing: 0.6px;

	width: 600px;
	margin-top: -30px;
	font-weight: 400;
	opacity: 0.7;
}

.infoBtns {
	display: flex;
	margin-top: 20px;
}
.infoBtn {
	background-color: rgb(15, 15, 15);
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 24px;
	padding-right: 22px;
	border-radius: 4px;
	color: royalblue;
	color: white;
	opacity: 0.8;
	letter-spacing: 1px;
	margin-right: 20px;
	/* border: 2px solid royalblue; */
}
.exploreBtn {
	background-color: royalblue;
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 24px;
	padding-right: 22px;
	border-radius: 4px;
	letter-spacing: 1px;

	color: white;
}

.homepageImage {
	margin-top: 50px;
	height: 390px;
	border-radius: 2px;
	margin-left: 72px;
}

.infoBtn:hover,
.exploreBtn:hover {
	cursor: pointer;
}
@media (max-width: 1340px) {
	.headline {
		font-size: 46px;
	}
	.description {
		font-size: 18px;
		width: 440px;
		letter-spacing: 0.6px;
		opacity: 0.8;
	}
	.infoBtn {
		font-size: 14px;
		display: flex;
	}
	.exploreBtn {
		display: flex;

		font-size: 14px;
	}
	.homepageImage {
		height: 340px;
		margin-top: 55px;
		margin-left: 52px;
	}
}
@media (max-width: 1020px) {
	.homepage-inner {
		display: block;
	}
	.homepage-left {
		display: none;
	}
	.headline-mobile2 {
		display: none;
	}
	.homepageImage {
		margin-left: 0px;
		margin-top: -25px;
		height: 300px;
	}
	.homepage-right {
		/* border: 2px solid black; */
		margin-left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.homepage-left-mobile {
		display: block;
	}
	.headline-mobile {
		font-size: 40px;
		font-weight: 600;
		/* opacity:.8; */
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
			Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		/* position: absolute; */
		color: royalblue;
		letter-spacing: 1px;
		/* white-space: nowrap; */
		/* color:black; */
		padding-top: 20px;
		text-align: center;
		display: table;
		margin-left: auto;
		margin-right: auto;
		width: 80vw;
		margin-top: 0px;
	}
	.description-mobile {
		font-size: 18px;
		letter-spacing: 0.6px;
		width: 80vw;
		margin-top: -30px;
		font-weight: 400;
		opacity: 0.8;
		text-align: center;
		display: table;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
	}
	.infoBtns-mobile {
		display: flex;
		padding-top: 20px;
		justify-content: center;
	}
	.infoBtn-mobile {
		background-color: rgb(15, 15, 15);
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 15px;
		padding-right: 16px;
		border-radius: 4px;
		color: royalblue;
		color: white;
		opacity: 0.8;
		letter-spacing: 1px;
		margin-right: 20px;
	}
	.exploreBtn-mobile {
		background-color: royalblue;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 14px;
		padding-right: 16px;
		border-radius: 4px;
		letter-spacing: 1px;
		color: white;
	}
}
@media (max-width: 779px) {
	.headline-mobile {
		display: none;
	}
	.headline-mobile2 {
		font-size: 40px;
		font-weight: 600;
		/* opacity:.8; */
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
			Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		/* position: absolute; */
		color: royalblue;
		letter-spacing: 1px;
		/* white-space: nowrap; */
		/* color:black; */
		padding-top: 20px;
		text-align: center;
		display: table;
		margin-left: auto;
		margin-right: auto;
		width: 80vw;
		margin-top: 0px;
	}
}

@media (max-width: 570px) {
	.homepageImage {
		height: 250px;
	}
	.infoBtn-mobile {
		font-size: 12px;
		padding-top: 10px;
	}
	.exploreBtn-mobile {
		font-size: 12px;
	}
}
@media (max-width: 431px) {
	.headline-mobile2 {
		font-size: 36px;
	}
	.description-mobile {
		font-size: 16px;
		margin-left: 1px;
		letter-spacing: 0.6px;
		text-align: center;
		font-weight: 400;
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
	.infoBtns-mobile {
		margin-top: -10px;
	}
	.infoBtn-mobile {
		font-size: 9px;
		padding-top: 10px;
	}
	.exploreBtn-mobile {
		font-size: 9px;
	}
}
@media (max-width: 390px) {
	.homepageImage {
		height: 200px;
	}
	.description-mobile {
	}
	.headline-mobile2 {
		font-size: 30px;
	}
}
