.homepage2 {
	display: flex;
	margin-top: 100px;
	justify-content: center;
}
.homepage-left2 {
	display: block;
	margin-right: 16px;
}
.headline2 {
	font-size: 36px;
	font-weight: 600;
	/* opacity:.8; */

	/* position: absolute; */
	color: royalblue;
	letter-spacing: 1px;
	margin-left: 0px;
	white-space: nowrap;
	/* color:black; */
}
.description2 {
	font-size: 18px;
	margin-left: 0px;
	letter-spacing: 0.6px;

	width: 500px;
	margin-top: -10px;
	font-weight: 400;
	opacity: 0.7;
}
.homepageImage2 {
	margin-left: 72px;
	margin-top: -70px;
	height: 340px;
	border-radius: 2px;
}
/* @media (max-width:1020px){
	.homepage-left2{
		margin-left: 200;
	}
} */
