body {
	margin: 0;
	overflow-x: hidden;
	/* background-image: url(loginBackground.jpg); */
	background-size: cover;
}
body::before {
	content: "";

	position: absolute;
	margin: 0 auto;
	z-index: -10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(loginBackground.jpg);
	background-size: cover;
	background-position-y: 00px;
	opacity: 0.34;
	min-height: 100vh;
	max-height: 100vh;
	min-width: 100vw;
	max-width: 100vw;
}
