input{
	width: 99%;
	height: 28px;
	border-radius: 2px;
	border: 1px solid rgb(212, 212, 212);
}
.signup-inner {
	display: flex;
	justify-content: center;
}
.signup-left {
	margin-right: 100px;
	margin-top: 80px;
	margin-left: 36px;
}
.signupTitle {
	font-size: 40px;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
		Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
		sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

	font-weight: 600;
	opacity: 0.9;
	/* margin-left: 30px; */
}
.signupTitle2 {
	font-size: 44px;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
		Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
		sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

	font-weight: 640;
	opacity: 0.9;
}
.signupDescrip {
	font-size: 19px;
	margin-top: -10px;
	line-height: 28px;
	font-weight: 400;
	opacity: 0.8;
	/* margin-left: 30px; */
	width: 40vw;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
		Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
		sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	margin-left: 2px;
}
.signupImage {
	height: 34vw;
	margin-left: -30px;
	/* border: 2px solid black; */
}
.signup-right {
	width: 600px;
	border: 0.1px solid transparent;
	height: 665px;
	margin-top: 125px;
	box-shadow: 0 1px 1px rgb(0 0 0 / 6%), 0 2px 2px rgb(0 0 0 / 6%),
		0 4px 4px rgb(0 0 0 / 6%), 0 0 8px rgb(0 0 0 / 6%);
	border-radius: 2.5px;
	margin-right: 20px;
}
.signupform {
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 14px;
	padding-bottom: 34px;
}

.firstnameTitle,
.lastnameTitle,
.emailTitleSignup,
.jobTitle,
.phoneNumTitle,
.productTitle,
.devicesTitle,
.countryTitle,
.contactPrefTitle {
	margin-bottom: 4px;

	font-size: 12px;
	opacity: 0.8;
}
.newsletterTitle {
	margin-bottom: 0px;

	font-size: 12px;
}
.lnameInput,
.fnameInput,
.emailInput2,
.jobInput,
.phoneNumInput,
.productInput,
.countryInput {
	width: 99%;
	height: 28px;
	border-radius: 2px;
	border: 1px solid rgb(212, 212, 212);
}
.react-tel-input .form-control{
	width: 99%;
	height: 28px;
	border-radius: 2px;
	border: 1px solid rgb(212, 212, 212);
}
.emailError{
	width: 99%;
	height: 28px;
	border-radius: 2px;
	border: 1px solid rgb(212, 212, 212);
	color: rgb(245, 50, 50);
}
.emailSuccess{
	width: 99%;
	height: 28px;
	border-radius: 2px;
	border: 1px solid rgb(212, 212, 212);
	color: rgb(2, 179, 2);
}
.devicesInput {
	width: 40%;
	height: 28px;
	border-radius: 2px;
	border: 1px solid rgb(212, 212, 212);
}
.yesCheckInput,
.noCheckInput {
	border-radius: 180px;
	background-color: royalblue;
}
.callInput,
.meetingInput {
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 14px;
	padding-right: 14px;
	outline: none;
	font-size: 16px;
	border: 0.1px solid rgb(202, 201, 201);
	border-radius: 2px;
	font-weight: 100;
	color: rgb(85, 85, 85);
}
.contactPrefTitle{

}
.signupformbtn {
	position: absolute;
	margin-top: 30px;
	margin-left: 0px;
	background-color: white;
	outline: none;
	border: 0.1px solid white;
	background-color: royalblue;
	color: white;
	font-size: 14px;
	width: fit-content;
	padding-top: 8px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
	padding-bottom: 26px;
}
@media (max-width: 1000px) {
	.signup-inner {
		display: block;
	}

	.signup-left {
		text-align: center;
		margin-right: 0px;
		margin-top: 120px;
		margin-left: 0px;
		/* border: 2px solid black; */
	}
	.signupImage {
		display: none;
	}
	.signup-left{

	}
	.signupDescrip {
		width: 600px;
		font-size: 17px;
		display: table;
		margin-right: auto;
		margin-left: auto;
	}
	.signup-right {
		margin-right: 0px;
		display: table;
		margin-right: auto;
		margin-left: auto;
		margin-top: 30px;
	}
}
@media (max-width: 700px) {
	.signup-right {
		width: 500px;
	}
}
@media (max-width: 600px) {
	.signupDescrip {
		width: 80vw;
	}
	.signupTitle {
		display: table;
		margin-left: auto;
		margin-right: auto;
		width: 60vw;

		/* border: 2px solid black; */
	}
	.signup-right {
		width: 450px;
	}
	.meetingInput {
		font-size: 12px;
	}
	.callInput {
		font-size: 12px;
	}
	.signupformbtn {
		font-size: 12px;
		margin-left: -201px;
	}
}
@media (max-width: 487px) {
	.signup-right {
		width: 90vw;
	}
	.signup-inner {
	}
}
@media (max-width: 335px) {
	.signup-right {
		width: 90vw;
		height: 720px;
	}
	.signupTitle {
		font-size: 30px;
	}
	.signupDescrip {
		font-size: 14px;
	}
}
@media (max-width: 277px) {
	.signup-right {
		width: 90vw;
		height: 740px;
	}
	.signupformbtn {
		font-size: 10px;
		margin-left: -67px;
		margin-top: 60px;
	}
	.signupTitle {
		font-size: 28px;
	}
}
@media (max-width: 235px) {
	.signup-right {
		width: 90vw;
		height: 740px;
	}
	.signupformbtn {
		font-size: 10px;
		margin-left: -67px;
		margin-top: 60px;
	}
	.signupTitle {
		font-size: 24px;
	}
}
